@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Testimonial styling */
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -150%;
  }
}
.animate {
  width: 300%;
  animation: marquee 20s linear infinite;
  top: 50%;
  transform: translate(0, -50%);
}
.animate:hover {
  animation-play-state: paused;
}

#about-id,
#contactUs-id {
  scroll-margin-top: 100px;
}
